body {
    background-color: #E5E5E5;
    margin: 0 auto;
}

header {
    background-color: black;
    height: 129px;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    width: 100%;
}

#menu {
    list-style: none;
    padding-right: 6px;
}

.a-menu {
    text-decoration: none;
    color: #FFFCFC;
}

.menu {
    display: inline-block;
}

.gallery {
    padding-top: 200px;
}

.img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 55px;
}

.image {
    padding-top: 140px;
    -webkit-animation: translate3 2s 1 ease-in-out;
    animation: translate3 2s 1 ease-out;
}

@-webkit-keyframes translate3 {

    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes translate3 {

    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }

}

.image-two {
    padding-top: 140px;
    -webkit-animation: translate4 2s 1 ease-in-out;
    animation: translate4 2s 1 ease-out;
}

@-webkit-keyframes translate4 {

    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes translate4 {

    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }

}

.img-one {
    padding-right: 20px;
    -webkit-animation: translate 1s 1 ease-in-out;
    animation: translate 1s 1 ease-out;
}

@-webkit-keyframes translate {

    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes translate {

    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

.img-two {
    -webkit-animation: translate2 1s 1 ease-in-out;
    animation: translate2 1s 1 ease-out;
}

@-webkit-keyframes translate2 {

    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes translate2 {

    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}


.services {
    padding-top: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 25px;
    height: 1250px;
}

span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.all {
    display: block;
    position: absolute;
    -webkit-animation: run 2s infinite linear;
    animation: run 2s infinite linear;
}

.two {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.three {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.four {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes run {
    0% {
        transform: translate(0%);
    }

    25% {
        transform: translate(150%);
    }

    50% {
        transform: translate(150%, 150%);
    }

    75% {
        transform: translate(0%, 150%);
    }
}

@keyframes run {
    0% {
        transform: translate(0%);
    }

    25% {
        transform: translate(150%);
    }

    50% {
        transform: translate(150%, 150%);
    }

    75% {
        transform: translate(0%, 150%);
    }
}

h1 {
    text-align: center;
    font-size: 96px;
}

#team {
    display: flex;
    justify-content: space-around;
    padding-left: 66px;
    padding-right: 66px;
}

.meredith {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle8.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
    box-sizing: border-box;
    position: relative;
}

#meredith {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -154px;
    border-radius: 0 0 25% 25%;
}

.meredith:hover #meredith {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.meredith:active #meredith {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.meredith:hover {
    background-image: url(./img/Rectangle8.png);
}

.jason {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle12.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
    box-sizing: border-box;
    position: relative;
}

#jason {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -154px;
    border-radius: 0 0 25% 25%;
}

.jason:hover #jason {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.jason:hover {
    background-image: url(./img/Rectangle12.png);
}

.jason:active #jason {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.ryan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle13.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
    box-sizing: border-box;
    position: relative;
}

#ryan {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -154px;
    border-radius: 0 0 25% 25%;
}

.ryan:hover #ryan {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.ryan:hover {
    background-image: url(./img/Rectangle13.png);
}

.ryan:active #ryan {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.james {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/Rectangle9.png);
    background-size: cover;
    width: 404px;
    height: 677px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10%;
    box-sizing: border-box;
    position: relative;
}

#james {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    font-size: 48px;
    color: #FFFAFA;
    width: 405px;
    height: 154px;
    text-align: center;
    visibility: hidden;
    bottom: -154px;
    border-radius: 0 0 25% 25%;
}

.james:hover #james {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.james:hover {
    background-image: url(./img/Rectangle9.png);
}

.james:active #james {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-140px);
    -webkit-transform: translatey(-140px);
}

.james:active {
    background-image: url(./img/Rectangle9.png);
}

.contact {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.map {
    padding-right: 162px;
}

h2 {
    font-size: 64px;
    padding-left: 169px;
    text-align: center;
}

#table {
    padding-left: 66px;
}

.table {
    width: 936px;
    height: 400px;
    background-color: gray;
}

.name {
    width: 377px;
    height: 80px;
    font-size: 36px;
}

.email {
    width: 452px;
    height: 80px;
    font-size: 36px;
}

.form {
    padding-top: 39px;
    display: flex;
    justify-content: space-around;
    padding-left: 29px;
    padding-right: 29px;
}

.message {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    padding-left: 29px;
    padding-right: 29px;
}

textarea {
    resize: none;
    width: 878px;
    height: 209px;
    font-size: 36px;
}

iframe {
    width: 626px;
    height: 570px;
}

.text-foot {
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 126px;
}

.a-foot {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 162px;
    padding-right: 162px;
}

.img-foot {
    list-style: url(./img/pngwing1.png);

}

.insta:hover {
    scale: 1.2;
    transition: 1s;
    -webkit-transition: 1s;
}

.img-foot-2 {
    list-style: url(./img/pngwing2.png);
}

.img-foot-3 {
    list-style: url(./img/pngwing3.png);
}

.menu-toggle {
    display: none;
    padding-top: 35px;
}

#menu-toggle {
    display: none;
}

.toggle {
    text-decoration: none;
    color: black;
    border: 1px solid red;
    background-color: red;
}

label {
    color: black;
    border: 1px solid black;
    cursor: pointer;
    background-color: purple;
}

#menu-two {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    left: -90px;
    list-style: none;
    max-height: 0px;
}


#menu-toggle:checked+#menu-two {
    transition: 1s;
    -webkit-transition: 1s;
    max-height: 250px;
}

@media screen and (min-width: 768px) and (max-width :992px) {
    .gallery {
        height: 1600px;
    }

    .img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 25px;
        gap: 25px;
    }

    .image {
        padding-top: 0;
        display: grid;
        justify-self: center;
    }

    .image-two {
        padding-top: 0;
        display: grid;
        justify-self: center;
    }

    .img-one {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img-two {
        grid-column: 2/2;
        grid-row: 1/2;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 2300px;
    }

    .pexels {
        display: grid;
        grid-row: -1/1;
    }

    .circle {
        display: grid;
        grid-row: 2/-1;
    }

    #team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }

    .img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;
    }

    .contact {
        display: grid;
        justify-items: end;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 50px;
        justify-items: center;
    }

    .img-one {
        display: grid;
        grid-row: 1/2;
    }

    .img-two {
        display: grid;
        grid-row: 2/2;
    }

    .image {
        display: grid;
        padding-top: 0;
    }

    .image-two {
        display: grid;
        padding-top: 0;
    }

    .pexels {
        visibility: hidden;
    }

    #team {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 25px;
    }

    .contact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .map {
        display: grid;
        grid-row: -1/1;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    iframe {
        width: 450px;
        height: 450px;
    }

    .table {
        width: 450px;
        height: 450px;
    }

    .name {
        width: 100px;
    }

    .email {
        width: 100px;
    }

    h2 {
        font-size: 50px;
        padding-left: 0;
    }

    .meredith:hover #meredith {
        visibility: hidden;
    }

    .meredith:active #meredith {
        visibility: visible;
    }

    .jason:hover #jason {
        visibility: hidden;
    }

    .jason:active #jason {
        visibility: visible;
    }

    .ryan:hover #ryan {
        visibility: hidden;
    }

    .ryan:active #ryan {
        visibility: visible;
    }

    .james:hover #james {
        visibility: hidden;
    }

    .james:active #james {
        visibility: visible;
    }
}

@media screen and (max-width: 1150px) {
    .menu {
        visibility: hidden;
    }

    .menu-toggle {
        display: block;
    }
}

@media screen and (min-width:768px) {
    .meredith:active #meredith {
        visibility: hidden;
    }

    .jason:active #jason {
        visibility: hidden;
    }

    .ryan:active #ryan {
        visibility: hidden;
    }

    .james:active #james {
        visibility: hidden;
    }

}